.recipes-wrapper{
    margin: 20px auto 0;
    width: 100%;
    
    .btn-outline-info{
        margin: 20px auto;
        font-size: 15px;
    }

    .filters{

        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        h5{
            color: var(--special-color);
            margin-bottom: 5px;
        }

        h5::last-child{
            text-align: right;
        }
    
        .selectors{
            display: flex;
            flex-direction: column;
            

            .attributeSelector, .attributePicker{
                
                width:150px;
                margin:0;
                margin-bottom: 10px;
                font-size: 13px;
                
            }

        }


        .ingredient-picker{

            position: relative;

            .ingredient-input{
                vertical-align: middle;
                border-radius: 5px;
                height: 38px;
                border: 0.8px black solid;
                width:130px;
                font-size: 13px;
                

            }

            .btn{
                vertical-align: middle;
                border-radius: 5px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                width:38px;
                position:absolute;
                right:0;
                height: 38px;

                i.fa-search{
                    
                    align-items: center;
                    display: flex;
                    font-size: 15px;
                    justify-content: center;
                    
                }

            }
        }

    }   

    .recipeCard-wrapper{
        display: grid;
        grid-template-columns: repeat(2,2.5fr);
        grid-gap: 20px;
    }

}

@media(max-width: 1270px){

    .recipes-wrapper{

        .recipeCard-wrapper{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 10px;
            
        }
    }

}

@media(min-width: 1950px){

    .recipes-wrapper{

        .recipeCard-wrapper{
            display: grid;
            grid-template-columns: repeat(3,3fr);
            
        }
    }

}