.recipeDetail-wrapper{

    display: block;
    width:85%;
    margin: 30px auto;
    padding: 30px 5px;
    max-width: 1400px;
    background-color: rgb(248, 235, 235);
    border-radius: 20px;

    .recipeDetail-content{
    
        width:100%;
        display: flex;
        flex-direction: column;
        

        .link-to-page{
            
            margin: 20px auto;
            
        }
        

        .special-text{

            color: var(--special-color);;
            text-shadow: 1px 1px rgb(199, 140, 140) ;
            text-align: center;
            margin-bottom: 50px;

        }
    
        .image-and-info{
            
            display: flex;
            justify-content: space-around;
            width: 100%;


            .meal-image{
                
                object-fit:scale-down;
                position: relative;
                width:43%;
                
                img{
                    border-radius: 20px;
                    width:100%;
                    max-width: 450px;
                    max-height: 450px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    
                }

            }

            .info-and-share{

                display:flex;
                flex-direction: column;
                width: 55%;
                

                .info{
                    
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    
                    .quick-info{
                        margin: 20px;
                        margin-top: 40px;
                        
    
                        svg,img{
                            width:50px;
                            height:50px;
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            
                        }
    
                        img{
                            border-radius: 50px;
                        }
    
                        p.text{
                            text-align: center;
                            font-size: 14px;
                            width:100%;
                            
                        }

                        
                    }

                    
                    
                }

                .shareVia{

                    h5{
                        text-align: center;
                        margin-bottom: 5px;
                    }

                    .share-links{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        .shareBtn{
                            padding: 10px;
                            margin:5px;
                            border-radius: 10px;
                            align-items: center;
                            
                        }

                        .shareBtn:hover{
                            opacity: 0.7;
                        }

                        svg{
                            font-size: 18px;
                        }

                        .mail{
                            background-color: rgb(255, 255, 255);
                            color: rgb(237, 96, 96);
                            margin-right: 2px;
                        }

                        .facebook{
                            background-color: blue;
                            color: white;
                        }

                        .twitter{
                            color: rgb(34, 187, 238);
                            margin-left: 0;
                            padding-left: 0;
                        }


                    }

                }

            }

        }

            
            
       .chart-and-ingredients{
        
                display: flex;
                justify-content: space-between;
                margin: 20px 0;

                .ingredients-side{
                    
                    
                    width:50%;
                    margin-top: 5px;
        
                    .ingredientsList{

                        background-color: rgb(255, 255, 255);
                        max-width:350px;
                        width:80%;
                        margin: 0 auto;
                        border-radius: 10px;
                        border: 1px solid var(--grey-color);

                        .ingredients-title{
                            margin-bottom: 10px;
                        }
                        
                        button{
                                margin: 0 auto 5px;
                                width: 100%;
                                border: none;
                                background-color: white;
                                color: var(--special-color)
                        }

                        button:hover{
                            opacity: 0.8;
                        }

                        .list-group-item{
                            border:var(--grey-color);
                            border-radius: 10px;
                            font-size: 14px;
                            padding-top: 5px;


                        }   
                    }
                }

                .chart-side{
                    position: relative;
                    width: 50%;
                    
                    .chart{
                        margin: 10px auto;
                        width: 90%;
                        max-width: 380px;
        
                        p.macro-attribute{
                            margin-bottom: 5px;
                        }
                    }
                }
            
        }
 
    }

    
}

@media (max-width: 1240px){

    .recipeDetail-wrapper{

        width:97%;

        .recipeDetail-content{

            .image-and-info{

                .info-and-share{

                    .info{

                        .quick-info{

                            margin-top: 15px;

                            svg,img{
                                width:40px;
                                height:40px;
                            }

                            p.text{
                                text-align: center;
                                font-size: 12px;
                                width:100%;
                                
                            }
                        }
                    }

                    .shareVia{

                        .share-links{


                            .shareBtn{
                                font-size: 12px;
                                padding: 5px;
                                border-radius: 7px;
                            }
                        }
                    }
                }
            }
        
        }

        
    }

}

@media (max-width: 1050px){

    .recipeDetail-wrapper{

        .recipeDetail-content{

            .special-text{

                margin-bottom: 25px;
    
            }

            .link-to-page{
                
                width:70%;

                .btn-warning{
                    font-size: 14px;
                }
            }

            .image-and-info{

                .meal-image{

                    margin-bottom: 30px;

                    img{
                        max-width: 350px;
                        max-height: 300px;
                    }
                }

                .info-and-share{

                    .info{

                        .quick-info{

                            svg,img{
                                width:40px;
                                height:40px;
                            }

                            p.text{
                                text-align: center;
                                font-size: 12px;
                                width:100%;
                                
                            }
                        }
                    }

                    .shareVia{

                        .share-links{


                            .shareBtn{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        
        }

        
    }

}

@media (max-width: 750px){

    .recipeDetail-wrapper{

        .recipeDetail-content{

            .image-and-info{

                flex-direction: column;

                .meal-image{

                    width: 100%;

                    img{
                        width:80%;
                        max-width: 600px;
                        max-height: 600px;
                        
                    }
                }

                .info-and-share{

                    width:100%;

                    .shareVia{

                        h5{
                            font-size: 17px;
                        }

                        .share-links{


                            .shareBtn{
                                font-size: 11px;
                                margin: 3px;
                            }
                        }
                    }
                }
            }

            .chart-and-ingredients{

                flex-direction: column-reverse;

                .ingredients-side{
                    width:85%;
                    margin: 5px auto;

                    .ingredientsList{

                        button{
                            font-size: 14px;
                        }
                    }
                }

                .chart-side{
                    width: 80%;
                    margin: 5px auto;
                }
            }
        
        }

        
    }

}


